
.label{
    -fx-font-size: 15;

}

.choice-box{
    -fx-text-fill: black;
}

.vbox{
    -fx-padding: 20px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(two-pass-box, black, 5, 8,8,4);
}
.image{
    -fx-background-radius: 20;
    -fx-padding: 10;
}
.button{
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-padding: 8;
    -fx-background-radius: 5;
}
.button:hover{
    -fx-opacity: 0.7;
}

.cardContainer:hover{
    -fx-opacity: 0.7;
}